{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Crear direccion</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('direccion_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
